version: '3.8'

services:
  backend:
    build: ./backend
    container_name: project_backend
    ports:
      - "5000:5000"
    environment:
      - MONGO_URI=mongodb://mongo:27017/project_mgmt_app
      - PORT=5000
    depends_on:
      - mongo
    networks:
      - app-network

  frontend:
    build: ./frontend
    container_name: project_frontend
    ports:
      - "5173:80"
    depends_on:
      - backend
    networks:
      - app-network

  mongo:
    image: mongo:latest
    container_name: project_mongo
    ports:
      - "27018:27017" # Exposed on 27018 to avoid conflict with local MongoDB
    volumes:
      - mongo-data:/data/db
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  mongo-data:
